<!DOCTYPE html>
<html lang="en" ng-app = "snakeApp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Snake App</title>
    <base href="/"/>

    <link rel="stylesheet" href="HTML/FONTS/fonts.css">
    <link rel="stylesheet" href="HTML/CSS/all.css">
    <link rel="stylesheet" href="HTML/CSS/style.css">


    <script src="HTML/JS/angular.js" charset="utf-8"></script>
    <script src="HTML/JS/angular-route.js" charset="utf-8"></script>
    <script src="HTML/JS/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="snakeController">
    <div class="snake-bg-div">
      <div class="snake-container-bg" style="transition: 0.6s all ease-in-out; transform: translateX({{appData.bgPos}}%)"></div>
    </div>
    <ng-view class="snake-container">

    </ng-view>
  </body>
</html>
