@keyframes spin1 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes spin2 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(-360deg);}
}

@keyframes spin3 {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

body {
  margin: 0px;
  background-color: #000000;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.snake-container {
  width: 800px;
  height: 600px;
  /*background: linear-gradient(0deg, #3cc955, #1b3e4c);*/
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 300px);

}

.snake-bg-div {
  width: 800px;
  height: 600px;
  position: absolute;
  left: calc(50% - 400px);
  top: calc(50% - 300px);
  overflow: hidden;
}

.snake-container-bg {
  background: url("../IMG/wallpaper.jpg");
  background-size: 1600px 1200px;
  background-position: center;
  width: 1600px;
  height: 1200px;
  position: absolute;
  left: -400px;
  top: -300px;
  transform: translateX(0%);
  transition: 0.5 all ease-in-out;
}

.snake-start-div {
  position: absolute;
  width: 400px;
  height: 400px;
  left:200px;
  top: 100px;
}
.snake-logo {
  width: 300px;
  height: 300px;
  margin: 0px auto;
  background: url("../IMG/snake.png");
  background-size: 100% 100%;
}
.snake-new-game {
  display: block;
  width: 200px;
  height: 60px;
  background-color: #dc3730;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  color: #fcea61;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Comic";
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  margin: 0px 10px;
}
.snake-new-game:hover , .snake-top-scores:hover , .snake-top-options:hover {
  background-color: #a81812;
  color: #eee179;
}

.snake-top-scores {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #dc3730;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  color: #fcea61;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Comic";
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.snake-top-options {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #dc3730;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  color: #fcea61;
  text-transform: uppercase;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Comic";
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}

.snake-menu-buttons {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.snake-about {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  right: 10px;
  top: 10px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.snake-about:hover {
  border:2px solid #888888;
  color: #888888;
}
.snake-modal-div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
}
.snake-modal-window {
  position: absolute;
  width: 300px;
  height: 200px;
  background-color:#fcea61;
  top: 200px;
  left: 250px;
  border-radius: 10px;
  overflow: hidden;
}
.snake-modal-input {
  display: block;
  width: calc(100% - 40px);
  height: 40px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  margin: 20px;
  text-align: center;
  font-size: 28px;
  font-family: "Comic";
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);


}
.snake-modal-button {
  width: 150px;
  height: 40px;
  margin: 0px auto;
  color: #fcea61;
  background-color: #dc3730;
  display: block;
  font-size: 28px;
  font-family: "Comic";
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);

}
.snake-modal-title {
  width: 100%;
  height: 60px;
  font-size: 30px;
  line-height: 80px;
  vertical-align: middle;
  text-align: center;
  background-color: #dc3730;
  color: #ffffff;
  font-family: "Comic";

}
.snake-modal-button:disabled {
  color: #ffffff;
  background-color: #888888;
}
.snake-game-main {
  position: absolute;
  width: 100%;
  height: 100%;
}
.snake-timer-div {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 350px;
  border-radius: 50%;
  background-color: #00000088;
}

.snake-circle-one {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  border: 3px solid #00000000;
  border-top: 3px solid red;
  border-right: 3px solid red;
  box-sizing: border-box;
  left: 3px;
  top: 3px;
  position: absolute;
  transform: rotate(0deg);
  animation: spin1 1.2s infinite linear;
}

.snake-timer {
  position: absolute;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  line-height: 100px;
  text-align: center;
  font-size: 36px;
  font-family: "Comic";
  color: #ffffff;
}

.snake-circle-two {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid #00000000;
  border-top: 3px solid red;
  border-right: 3px solid red;
  box-sizing: border-box;
  left: 8px;
  top: 8px;
  position: absolute;
  transform: rotate(-90deg);
  animation: spin2 0.9s infinite linear;
}

.snake-circle-three {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 3px solid #00000000;
  border-top: 3px solid red;
  border-right: 3px solid red;
  box-sizing: border-box;
  left: 13px;
  top: 13px;
  position: absolute;
  transform: rotate(-120deg);
  animation: spin3 0.7s infinite linear;
}
.snake-game-div {
  width: 100%;
  height: 100%;
  position: absolute;

}

.snake-scores-div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.snake-scores-list {
  width: 400px;
  height: 500px;
  top: 50px;
  left: 200px;
  position: absolute;
  background-color: #fcea61;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.snake-scores-header {
  width: 100%;
  height: 60px;
  color: #ffffff;
  background-color: #dc3730;
  font-family: "Comic";
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 30px;
  position: relative;
}

.snake-scores {
  height: 400px;
  width: 100%;
}

.snake-score {
  height: 40px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  color: #dc3730;
  font-family: "Comic";
}

.snake-score:nth-of-type(even) {
  background-color: #dc373088;
  color: #ffffff;
}

.snake-score-place {
  height: 40px;
  width: 50px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.snake-score-username {
  height: 40px;
  width: 150px;
  vertical-align: middle;
  line-height: 40px;
  text-align: left;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0px 10px;
}

.snake-score-date {
  height: 40px;
  width: 120px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
}

.snake-scores-exit {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background-color: #ff4444;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.snake-score-points {
  height: 40px;
  width: 80px;
  vertical-align: right;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0px 5px;
}
.snake-canvas {
  width: 760px;
  height: 500px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: url("../IMG/grass.jpg");
  background-size: 50px 50px;
  background-repeat: repeat;
}
.snake-game-data {
  height: 60px;
  width: 760px;
  background-color: #000000aa;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 30px 30px 0px 0px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 32px;
  line-height: 40px;
  vertical-align: middle;
  font-family: "Comic";
  box-sizing: border-box;
}
.snake-game-data span {
  float: right;
}
