<div class="snake-game-main">
  <div class="snake-game-div" ng-show="appData.userSubmited == true">
    <div class="snake-game-data">
      Name: {{gameData.userName}}
      <button type="button" name="button" ng-click="aa()">aaa</button>
      <span>Points: {{gameData.points}}</span>
    </div>
    <canvas id="snake-game" class="snake-canvas" width="760" height="500"></canvas>
  </div>
  <div class="snake-timer-div" ng-if="appData.loading == true">
    <div class="snake-circle-one"></div>
    <div class="snake-circle-two"></div>
    <div class="snake-circle-three"></div>
    <div class="snake-timer">
      {{appData.timer}}
    </div>
  </div>
</div>
<div class="snake-modal-div" ng-if="appData.userSubmited == false">
  <div class="snake-modal-window">
    <div class="snake-modal-title">Enter username</div>
    <input class="snake-modal-input" type="text" ng-model="appData.userName">
    <button class="snake-modal-button" type="button" ng-disabled="appData.userName.length < 4" ng-click="gameData.updateUsername()">Confirm</button>
  </div>
</div>
