<div class="snake-start-div">
  <div class="snake-logo"></div>
  <div class="snake-menu-buttons">
    <a class="snake-top-scores" href="/scores"><i class="fas fa-ribbon"></i></a>
    <a class="snake-new-game" href="/game">New game</a>
    <a class="snake-top-options" href="/options"><i class="fas fa-cogs"></i></a>
  </div>
</div>
<a class="snake-about" href="/about"><i class="fas fa-info"></i></a>
