<div class="snake-scores-div">
  <div class="snake-scores-list">
    <div class="snake-scores-header">TOP 10 <a class="snake-scores-exit" href="/menu"><i class="fas fa-times"></i></a></div>
    <div class="snake-scores">
      <div class="snake-score" ng-repeat="x in scoreData.scores">
        <div class="snake-score-place">#{{$index+1}}</div>
        <div class="snake-score-username">{{x.username}}</div>
        <div class="snake-score-date">{{x.date}}</div>
        <div class="snake-score-points">{{x.points}}</div>
      </div>
    </div>
  </div>
</div>
